SQL

In [1]:
#TASK 1
#Set up a sample database for Employees to work with SQL exercises.
#Database should contain the following fields: id, first_name, second_name, age, position, salary
#Fill database with at least 5 records. You should:
# - pass at least two different position values
# - salaries from 1000 to 10000

import sqlite3

conn = sqlite3.connect('database.db')
cursor = conn.cursor()
cursor.execute("CREATE TABLE employees (id INTEGER, first_name TEXT, second_name TEXT, age INTEGER, position TEXT, salary REAL)")

In [2]:
all_employees = [(1, "Adam", "Nowak", 28, "samodzielny referent", 4500), (2, "Robert", "Kowalski", 32, "samodzielny referent", 4800), (3, "Aldona", "Bogusz", 44, "koordynator projektu", 6000), (4, "Eryk", "Kamiński", 49, "sekretarz projektu", 4500), (5, "Iwona", "Ważniacka", 42, "koordynator projektu", 6000)]

In [3]:
cursor.executemany("INSERT INTO employees (id, first_name, second_name, age, position, salary) VALUES (?, ?, ?, ?, ?, ?)", all_employees)

In [4]:
#TASK 2
#Write a query to retrieve all records from the Employees table, then modify the query to display only the first_name and last_name columns.
cursor.execute("SELECT * FROM employees")
employees_list = cursor.fetchall()
employees_list

[(1, 'Adam', 'Nowak', 28, 'samodzielny referent', 4500.0),
 (2, 'Robert', 'Kowalski', 32, 'samodzielny referent', 4800.0),
 (3, 'Aldona', 'Bogusz', 44, 'koordynator projektu', 6000.0),
 (4, 'Eryk', 'Kamiński', 49, 'sekretarz projektu', 4500.0),
 (5, 'Iwona', 'Ważniacka', 42, 'koordynator projektu', 6000.0)]

In [5]:
cursor.execute("SELECT first_name, second_name FROM employees")
employees_names = cursor.fetchall()
employees_names

[('Adam', 'Nowak'),
 ('Robert', 'Kowalski'),
 ('Aldona', 'Bogusz'),
 ('Eryk', 'Kamiński'),
 ('Iwona', 'Ważniacka')]

In [6]:
#TASK 3
#Write queries to:
#TASK 3
#Write queries to:

#- Retrieve employees who work in one chosen position.
cursor.execute("SELECT first_name, second_name FROM employees WHERE position = 'samodzielny referent'")
samodzielni_referenci = cursor.fetchall()
samodzielni_referenci

[('Adam', 'Nowak'), ('Robert', 'Kowalski')]

In [7]:
#- Retrieve employees with a salary above 5000.
cursor.execute("SELECT first_name, second_name FROM employees WHERE salary > 5000")
najlepiej_zarabiajacy = cursor.fetchall()
najlepiej_zarabiajacy

[('Aldona', 'Bogusz'), ('Iwona', 'Ważniacka')]

In [10]:
#TASK 4
#Write queries to:

#- Count the number of employees in each position.
cursor.execute("SELECT position, COUNT(*) FROM employees GROUP BY position")
ile_na_stanowisku = cursor.fetchall()
ile_na_stanowisku

[('koordynator projektu', 2),
 ('samodzielny referent', 2),
 ('sekretarz projektu', 1)]

In [11]:
#- Calculate the average salary of all employees.
cursor.execute("SELECT AVG(salary) AS avg_salary FROM employees")
avg_salary = cursor.fetchall()
avg_salary

[(5160.0,)]

In [13]:
#TASK 5
#Write queries to:

#- Retrieve all employees sorted by age in descending order.
cursor.execute("SELECT first_name, second_name, age FROM employees ORDER BY age DESC")
sorted_by_age = cursor.fetchall()
sorted_by_age

[('Eryk', 'Kamiński', 49),
 ('Aldona', 'Bogusz', 44),
 ('Iwona', 'Ważniacka', 42),
 ('Robert', 'Kowalski', 32),
 ('Adam', 'Nowak', 28)]

In [14]:
#- Retrieve the top 3 highest-paid employees.
cursor.execute("SELECT first_name, second_name, salary FROM employees ORDER BY salary DESC LIMIT 3")
top_3 = cursor.fetchall()
top_3

[('Aldona', 'Bogusz', 6000.0),
 ('Iwona', 'Ważniacka', 6000.0),
 ('Robert', 'Kowalski', 4800.0)]

REGULAR EXPRESSIONS

In [17]:
#TASK 1
#Extract full names

text = "Ms. Anna Kowalska, Mr. John Nowak, Prof. Maria Wiśniewska."

In [23]:
import re

In [32]:
full_names_regex = r"[A-Z][a-z]{2,}\s[A-Z][a-zś]{2,}"
full_names = re.findall(full_names_regex, text)
print(full_names)

['Anna Kowalska', 'John Nowak', 'Maria Wiśniewska']

In [31]:
#TASK 2
#Extract abbreviations for titles and degrees (MS., MR., Prof.)
text = "Ms. Anna Kowalska, Mr. John Nowak, Prof. Maria Wiśniewska."

abbreviations_regex = r"[A-Z][a-z]+\."
abbreviations = re.findall(abbreviations_regex, text)
print(abbreviations)

['Ms.', 'Mr.', 'Prof.']

In [30]:
#TASK 3
#Extract telephone number and email address
text = "My phone number is 123-456-789, and my email is test@example.com."

phone_number_or_email_regex = r"\d{3}-\d{3}-\d{3}|[a-z]+@[a-z]+\.[a-z]+"
phone_number_or_email = re.findall(phone_number_or_email_regex, text)
print(phone_number_or_email)

['123-456-789', 'test@example.com']

In [36]:
#TASK 4
#Find all email addresses and phone numbers in a document.
document = """
    Contact: john.doe@example.com, phone: (123) 456-789
    Email: anna.nowak@company.com, phone: 987-654-321, postal code: 00-123

"""
email_or_phone_regex = r"[a-z]+@[a-z]+\.[a-z]+|\(?\d{3}\)?[-\s]?\d{3}[-\s]?\d{3}"
email_or_phone = re.findall(email_or_phone_regex, document)
print(email_or_phone)

['doe@example.com', '(123) 456-789', 'nowak@company.com', '987-654-321']

In [42]:
#TASK 5
#Extract URLs
text = "Visit https://example.com and http://another-site.org!"
url_regex = r"https?://[a-z]+-?[a-z]+\.[a-z]+"
url = re.findall(url_regex, text)
print(url)

['https://example.com', 'http://another-site.org']